# extends 'profile/profile_base.html'
# import 'macro/forms.html' as forms
# import 'macro/utils.html' as utils

# block profile_content
  <h5 title="Username"><span class="fa fa-at fa-fw"></span> {{user_db.username}}</h5>
  <h5 title="Email">
    <span class="fa fa-envelope-o fa-fw"></span> {{user_db.email}}
    # if config.CONFIG_DB.verify_email and user_db.email and user_db.verified
      <span class="fa fa-check fa-fw text-success" title="This email is verified"></span>
    # elif config.CONFIG_DB.verify_email and user_db.email
      <span class="fa fa-warning fa-fw text-warning" title="This email is not verified"></span>
    # endif
  </h5>
  <hr>
  <h6 class="text-muted" title="Available sign in options">
    <span class="fa fa-sign-in fa-fw"></span>
    {{utils.auth_icons(user_db)}}
  </h6>
# endblock
