# extends 'admin/admin_base.html'
# import 'macro/forms.html' as forms

# block admin_content
<form method="POST" action="." novalidate>
	<div class="row">
		{{ form.csrf_token }}
		{{ forms.text_field(form.brand_name, autofocus=True)}}
		{{ forms.email_field(form.feedback_email)}}
		{{ forms.textarea_field(form.announcement_html)}}
		{{ forms.select_field(form.announcement_type)}}
		<br>
		{{ forms.checkbox_field(form.notify_on_new_user)}}
		{{ forms.checkbox_field(form.verify_email)}}
		{{ forms.checkbox_field(form.check_unique_email)}}
		{{ forms.checkbox_field(form.email_authentication)}}
		{{ forms.checkbox_field(form.anonymous_recaptcha)}}
		<br>
		<ul class="collapsible" data-collapsible="accordion">
			# include 'admin/bit/security.html'
			# include 'admin/bit/letsencrypt.html'
			# include 'admin/bit/google_analytics_tracking_id.html'
			# include 'admin/bit/recaptcha.html'
		</ul>
	</div>
	<hr>
	<div class="row">
		<div class="col m6 offset-m3">
			{{ forms.submit_button('Update config') }}
		</div>
	</div>
</form>
# endblock
