html {
    overflow-y: hidden;
}

body {
    padding: 0;
    margin: 0;
    display: block;
    background-color: #f4f4f4;
    color: #565656
}

.content {
    padding: 5px;
    background-color: #fff;
    border:1px solid #e1e1e1;
}

.pr-category {
    border:1px solid #e1e1e1;
}

.pr {
    padding-bottom: 10px;
    border:1px solid #e1e1e1;
}

