{% extends "index.html" %}
{% block index %}

<div ng-controller="DashboardCtrl" ng-cloak layout-gt-sm="row" layout="column">
	<div flex-gt-md="100" flex>
		<md-content>
			<h1>Fitness PR dashboard</h1>
			<p>Click PR to show more details.</p>
			<div ng-repeat="cat in data.prs">
				<md-list>
					<md-subheader class="md-no-sticky">{[{ cat.category }]}</md-subheader>
					<md-list-item class="md-2-line" ng-repeat="pr in cat.prs">
						<img ng-src="" class="md-avatar"/>
						<div class="md-list-item-text" layout="column">
							<h3> {[{ pr.name }]} <span ng-if="pr.hasOwnProperty('rxd')"> | <code>RXD</code> <md-checkbox
									ng-model="pr.rxd"></md-checkbox></span></h3>
							<h4><i class="{[{ pr.icon }]}"></i> {[{ pr.value }]} <span ng-if="pr.hasOwnProperty('unit')"> {[{ pr.unit }]}</span></h4>
						</div>
				</md-list>
				<md-divider></md-divider>
			</div>
		</md-content>
	</div>
</div>

{% endblock %}
