{% extends "index.html" %}
{% block index %}
<div ng-controller="DashboardCtrl" ng-cloak layout-gt-sm="row" layout="column">
	<div flex-gt-sm="50" flex>
		<md-content>
			<md-list>
				<md-list-item ng-repeat="cat in data.prs">
					<md-subheader class="md-no-sticky">{[{ cat.category }]}</md-subheader>
					<md-list-item ng-repeat="pr in cat.prs">
						<p>{[{ pr.name }]}</p>
						<p><i class="{[{ pr.icon }]}"></i> {[{ pr.value }]}</p>
						<md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>
						<md-icon md-svg-icon="communication:email" ng-click=""
						         aria-label="Send Email"
						         class="md-secondary md-hue-3"></md-icon>
						<md-icon class="md-secondary" ng-click="" aria-label="Chat"
						         md-svg-icon="communication:message"></md-icon>
					</md-list-item>
					<md-checkbox class="md-secondary" ng-model="topping.wanted"></md-checkbox>
					<md-divider></md-divider>
				</md-list-item>
			</md-list>
		</md-content>
	</div>
</div>


<div class="col-sm-12 content" ng-controller="DashboardCtrl">

	<div ng-repeat="cat in data.prs">
		<div class="col-md-4 pr-category">
			<h2>{[{ cat.category }]}</h2>
			<div ng-repeat="pr in cat.prs" class="pr">
				<div class="col-md-10">
					<div class="row">
						<div class="col-xs-7">
							<h4>{[{ pr.name }]}</h4>
						</div>
						<div class="col-xs-5">
							<i class="{[{ pr.icon }]}"></i> {[{ pr.value }]}
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<a href="#" ng-click="showDetails = ! showDetails">More</a>
				</div>

				<div class="row" ng-show="showDetails">
					<div class="col-md-12">
						<ul>
							<li ng-if="pr.hasOwnProperty('rxd')">
								RXd: <i ng-class="pr.rxd ? 'fa fa-check-square-o' : 'fa fa-square-o'"></i>
							</li>
							<li>
								PR date: {[{ pr.date | date:'yyyy-MM-dd' }]}
							</li>
						</ul>
						<div class="col-md-offset-2 col-md-2">
							<i class="fa fa-2x fa-plus-circle"></i>
						</div>
						<div class="col-md-offset-2 col-md-2">
							<i class="fa fa-2x fa-line-chart"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock %}
