{% extends "root.html" %}
{% block main %}

<div class="section no-pad-bot" id="index-banner">
	<div class="container">
		<h1 class="header center-on-small-only">Materialize</h1>
		<div class="row center">
			<h4 class="header col s12 light center">A modern responsive front-end framework based on Material Design</h4>
		</div>
		<div class="row center">
			<a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light">Get Started</a>
		</div>
		<div class="row center"><a class="red-text text-lighten-4" href="https://github.com/Dogfalo/materialize">beta release v0.97.7</a></div>
		<br>

	</div>
	<div class="github-commit">
		<div class="container">
				See on <a id="github-button" href="https://github.com/stretchhog/prfit" class="btn-flat right grey-text text-lighten-5 waves-effect waves-light hide-on-small-only">Github</a>
		</div>
	</div>
</div>
	<p>
		This no-nonsnse website will allow you to track your personal fitness records (for short: PR). Choose from
		pre-set
		options for weight lifting, crossfit and running or add your own.
		This website is a side-project of my own that allows me to track my own PRs and will therefore always be free.
	</p>

	<p>
		If you have an account, go directly to your <a href="#">dashoard</a>. If not, <a
			href="#">register</a> a free account to start tracking your own PRs.
	</p>

	<p>
		Feel free to check the changelog for this website or have a look at my personal (everchanging) backlog to see
		which
		features are coming up.
	</p>

	<p>
		If you feel like you miss any additional functionality that is not on the backlog or requires immediate
		attention,
		or you need support regarding this website, contact me
		through the <a href="#">contact form</a>.
	</p>
{% endblock %}
