{% extends "index.html" %}
{% block index %}

<div class="col-md-2 hidden-sm hidden-xs"> test left</div>
<div class="col-md-8 content">
	<p>
		This no-nonsnse website will allow you to track your personal fitness records (for short: PR). Choose from
		pre-set
		options for weight lifting, crossfit and running or add your own.
		This website is a side-project of my own that allows me to track my own PRs and will therefore always be free.
	</p>

	<p>
		If you have an account, go directly to your <a href="#">dashoard</a>. If not, <a
			href="#">register</a> a free account to start tracking your own PRs.
	</p>

	<p>
		Feel free to check the changelog for this website or have a look at my personal (everchanging) backlog to see
		which
		features are coming up.
	</p>

	<p>
		If you feel like you miss any additional functionality that is not on the backlog or requires immediate
		attention,
		or you need support regarding this website, contact me
		through the <a href="#">contact form</a>.
	</p>
</div>
<div class="col-md-2 hidden-sm hidden-xs"> test right</div>
{% endblock %}
