<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PR Fitness</title>

	<!----------------- CSS ----------------->
	<link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
	<link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css') }}">
	<link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='bower_components/angular-ui-notification/dist/angular-ui-notification.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

	<!----------------- DEPENDENCIES ----------------->
	<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/d3/d3.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

	<script src="{{ url_for('static', filename='bower_components/angular/angular.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/angular-resource/angular-resource.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/angular-ui-notification/dist/angular-ui-notification.min.js') }}"></script>

	<!----------------- JS FILES ----------------->
	<script src="{{ url_for('static', filename='js/metrics.js') }}"></script>
	<script src="{{ url_for('static', filename='js/app.js') }}"></script>
	<script src="{{ url_for('static', filename='js/controllers.js') }}"></script>
	<script src="{{ url_for('static', filename='js/services.js') }}"></script>
	<script src="{{ url_for('static', filename='js/controllers/NotificationCtrl.js') }}"></script>

	<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

</head>
<body ng-app="app">
<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
			        aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a style="font-weight: bold" href="{{ url_for('dashboard') }}"><i class="fa fa-star"></i> Dashboard</a>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><i class="fa fa-sign-in"></i> Login</a></li>
				<li><a href="#"><i class="fa fa-sign-out"></i> Logout</a></li>
			</ul>
		</div>
	</div><!--/.nav-collapse -->
</nav>
<div ng-controller="NotificationCtrl">
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
				{% if category == 'warning' %}
					<div data-ng-init="warningNotification('Let op!', '{{ message }}')"></div>
				{% elif category == 'success' %}
					<div data-ng-init="successNotification('Gelukt!', '{{ message }}')"></div>
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endwith %}
</div>
<div class="container">
	{% block index %}
	{% endblock %}
</body>

</html>