# extends "base.html"
# import 'macro/forms.html' as forms
# block content

<h4>Update your record for:</h4>
<h5>{{activity.category_key.get().name}} | {{activity.name}}</h5>

<form method="POST" action="/activity/record/new/{{activity.key.urlsafe()}}" novalidate>
	{{form.csrf_token}}
	{{forms.hidden_field(form.activity_key)}}
	{{forms.hidden_field(form.category_key)}}

	# if form.value.type == 'TimeField'
	{{forms.time_field(form.value, autofocus=True)}}
	# elif form.value.type == 'IntegerField'
	{{forms.number_field(form.value, autofocus=True, min=0, step=1)}}
	# else
	{{forms.number_field(form.value, autofocus=True, min=0, step=0.1)}}
	# endif

	# if form.rxd is defined
	{{forms.checkbox_field(form.rxd)}}
	# endif

	{{forms.date_field(form.date)}}
	{{forms.textarea_field(form.notes)}}

	<div class="controls">
		{{ forms.submit_button('Save') }}
	</div>
</form>

# endblock
