# extends "base.html"
# import 'macro/forms.html' as forms
# block content

<h4>Update your record for:</h4>
<h5>{{activity.category_key.get().name}} | {{activity.name}}</h5>

<form method="POST" action="." novalidate>
	{{form.csrf_token}}
	{{forms.hidden_field(form.activity)}}
	{{forms.hidden_field(form.category)}}

	# if form.value.type == 'TimeField'
	{{forms.time_field(form.value, autofocus=True)}}
	# endif
	{{forms.date_field(form.date)}}
	{{forms.textarea_field(form.notes)}}

	<div class="controls">
		<button type="submit" class="btn btn-primary btn-block btn-loading" {{forms.data_loading_text()}}>
			Save
		</button>
	</div>
</form>

# endblock
